<body style="
    background: coral;
    ">
<h1>Burger da Carla</h1>
A melhor hamburgueria da região!<br>
<br>
Confira as novidades no nosso cardápio:<br>
<br>
<img src="https://www.saboravida.com.br/wp-content/uploads/2020/07/jeronimo-burger-inaugura-em-sao-jose-do-rio-preto-800x445.jpg" style="
    width: 250px;
">
</body>
</html>
