<body style="
    background: rgb(80, 229, 255);
    ">
<h1>Venda de Veículos Importados</h1>
<br>
<br>
Imperdível:<br>
<br>
<img src="https://img0.icarros.com/dbimg/imgmodelo/2/1077_6.png" style="
    width: 500px;
">
<br>
BMW Série 1 2021 <br>
A partir de R$ 297.950
</body>
</html>
