<body style="
    background: rgb(80, 249, 255);
    color:rgba(37, 9, 73, 0.966);
    ">
<h1>Venda de Veículos Importados</h1>
<br>
Imperdível! <br>
<img src="https://img0.icarros.com/dbimg/imgmodelo/2/1077_6.png" style="
    width: 500px;
"><br>
BMW Série 1 2021 <br>
A partir de R$ 297.950 <br>
WhatsApp <a target="blank" href="https://api.whatsapp.com/send?phone=5511873893245&text=Ol%C3%A1,%20estou%20interessado%20na%20compra%20da%20BMW.">(11) 98765-3456</a>
</body>
</html>
